# # JWT Secret Key used for signing and verifying JSON Web Tokens
# JWT_SECRET=

# # MongoDB connection string for connecting to the database
# MONGODB_URL=

# # Hostname of the mail server used for sending emails
# MAIL_HOST=

# # Username of the email account used for sending emails
# MAIL_USER=

# # Password of the email account used for sending emails
# MAIL_PASS=

MAIL_HOST = smtp.gmail.com
MAIL_USER = punitgupta263@gmail.com
MAIL_PASS = mbfq jebk tbun opiu
JWT_SECRET="punit"
FOLDER_NAME = "CodeHelp"

RAZORPAY_KEY_ID = rzp_test_t4LUM04KXw6wHc
RAZORPAY_KEY_SECRET = DOdtPrjZRxQejIdj1vAzm0MY

CLOUD_NAME = drvlktf2h
API_KEY = 422883961873369
API_SECRET = ao3gCb8il3MJdRecSU2X4gL6GTs

MONGODB_URL = "mongodb+srv://punitgupta128:hY7YXPJPDY1TXpLT@cluster0.7jlnlpi.mongodb.net/StudyNotionDataB"
PORT = 4000